{% extends 'base.html' %}
{% block title %}
=====company register page=====
{% endblock %}

{% block content %}
<style type="text/css">
  .signin {
  text-align: center;
  font-size: 22px;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
</style>
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Registration Form</h4>
        </div>
          {% if error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
           <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
          {% endfor %}
          {% endif %}
        <div class="card-body">
          <form action="{% url 'com_register' %}" method="post">
              {% csrf_token %}
            <div class="form-group">
              <label for="username">User-Name:</label>
              <input type="text" class="form-control" name="user_name" id="username" placeholder="Enter your User-Name" autocomplete="off" value=" {{ values.user_name }} " required="true" pattern="[A-Za-z0-9]{3,15}"  formmethod="post" step="0" autofocus>
              <small><strong>Format:</strong>3-15 characters, alphanumeric only <em>'User1234'</em> </small>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" name="mail" id="email" placeholder="Enter your email address" autocomplete="off" value=" {{values.email }} " required="true" step="0"  formmethod="post" autofocus>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="passwd" id="password" placeholder="Enter your password" value=" {{ values.password  }} " autocomplete="off" required="true" step="0" formmethod="post" autofocus>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password:</label>
              <input type="password" class="form-control" name="cpasswd" id="confirm-password" placeholder="Confirm your password" value=" {{ values.c_password }} " autocomplete="off" required="true" step="0"  formmethod="post" autofocus>
            </div>
              <button type="submit" formmethod="post" class="btn btn-primary">Register</button>
            <div class="mt-4">
<p class="signin"> have an account?
    <strong><a style="color: #6272A4;  " rel="noopener noreferrer" href="/signin" class="">login</a></strong>
  </p>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}