{% extends "base.html" %}

{% block title %}
=====user profile =====
{% endblock %}
{% block content %}
<style type="text/css">
	/*body {
    background: rgb(99, 39, 120)
}*/

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
{% load countries %}
 <div class="container-fluid  rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"> {% if firstname %} <span class="font-weight-bold"> {{firstname}} {{lastname}} </span>{% endif %} {% if email %} <span class="text-black-50">{{ email }}</span>{%  endif %}</div>
        </div>
        
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                {% if err %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ err }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
          {% endfor %}
          {% endif %}
            	<form method="POST" action="{% url 'p_update' %}" enctype="multipart/form-data">
        	{% csrf_token %}
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Update</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label for="firstname" class="labels">firstName</label><input type="text" class="form-control" placeholder="first name" id="firstname" name="fname" value="{{ firstname }}" readonly></div>
                    <div class="col-md-6"><label for="lastname" class="labels">lastname</label><input type="text" name="lname" class="form-control" id="lastname" value="{{ lastname }}" placeholder="surname" readonly></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels" for="contact">Mobile Number</label><input type="tel" class="form-control" id="contact" placeholder="enter phone number" name="contact" value="{{values.contact}}">
                    <small>format:2343464577</small>
                    </div>
                    <div class="col-md-12"><label class="labels" for="state">State</label><input type="text" name="state" class="form-control" id="contact" placeholder="enter your state" value="{{values.state}}"></div>
                    <div class="col-md-12"><label class="labels"for="city">city</label><input type="text" id="city" class="form-control" placeholder="enter your city" value="{{values.city}}" name="city"></div>
                    <div class="col-md-12"><label class="labels" for=addr">Address </label><input type="text" id="addr" class="form-control" placeholder="enter address" value="{{values.address}}" name="addr"></div>
                    <div class="col-md-12"><label class="labels" for="pincode">Postcode</label><input type="number"  id="pincode" name="pincode" class="form-control" placeholder="enter your pincode" value="{{values.pin}}" required></div>
                    <div class="col-md-12"><label class="labels" for="dob">date of birth</label><input type="date" class="form-control" id="dob" name="dob" placeholder="enter date of birth" value="{{values.dob}}"></div>
                    <div class="form-group mt-3">
            <label for="gender">Gender:</label>
            <div class="form-check d-inline mx-4">
                <input class="form-check-input" type="radio" name="a" id="male" value="{{values.gender}}" required>
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div class="form-check d-inline mx-4">
                <input class="form-check-input" type="radio" name="a" id="female" value="{{values.gender}}" required>
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
            <div class="form-check d-inline mx-4">
                <input class="form-check-input" type="radio" name="a" id="other" value="{{values.gender}}">
                <label class="form-check-label" for="other">
                    Other
                </label>
            </div>
        </div>
                    <div class="col-md-12"><label class="labels" for="email">Email ID</label><input type="text" class="form-control" placeholder="enter email id" id="email" name="email" value="{{ email }}" readonly></div>
                    
            <!-- <div class="card my-3"> -->
                    <fieldset class="card my-3">
                    	<legend >Education Details</legend>
                <label for="Education" >Highest Education:</label>
                <input type="text" name="education" id="Education" required="true" value="{{values.education}}">
            </fieldset>
            <div class="form-group d-flex" >
            <label for="experince">Experience:</label>
            <select class="form-control mx-3" id="experince" name="experince" required="true">
                <option value="{{values.experince}}" selected >Select experience level</option>
                <option>
                	fresher
                </option>
                <option>1 year </option>
                <option>2 year </option>
                <option>3 year </option>
                <option>4 year </option>
                <option>5 year</option>
                <option>more then 5 year </option>
            </select>
        </div>
        </div>
        <div class="form-group d-flex" >
            <label for="country">country:</label>
             <select class=" form-control mx-3" id="country" name="country">
                {% if values.country %}
                <option value="" selected="true">{{values.country}}</option>
                {% else %}
      <option value="" selected="true">======select country======</option>
      {%  if countries %}
      {% for code,name in countries %}
            <option value=" {{name}} "> {{name}} </option>
      {% endfor %}
      {% endif %}
      {% endif %}
    </select>
        </div>
        {% if err %}
        <div class="col-md-12"><label class="labels" for="skill">skill</label><textarea type="text" cols="30" rows="5" class="form-control" placeholder="enter skill"  id="skill" name="skill" required="true">{{values.skill}}</textarea></div>
        {% else %}
        <div class="col-md-12"><label class="labels" for="skill">skill</label><textarea type="text" cols="30" rows="5" class="form-control" placeholder="enter skill" value="" id="skill" name="skill" required="true"></textarea></div>
        {% endif %}
        
        <div class="form-group">
            <label for="salary">Salary Expectation:</label>
            <div class="input-group">
                <input type="number" class="form-control" id="salary" name="salary" value="{{values.annual_pay}}" required>
                <div class="input-group-append">
                    <span class="input-group-text">rupay</span>
                </div>
            </div>
            <small class="form-text text-muted">Please enter your salary expectation in rupees.</small>
        </div>
        <div class="form-group d-block">
            <legend>Communication Language</legend>
            <label for="Hindi" >Hindi:</label>&nbsp;&nbsp;
            <input type="checkbox" name="lang" id="Hindi" value="{{values.language}}" required="true">&nbsp;&nbsp;
            <label for="English" >English:</label>&nbsp;&nbsp;            <input type="checkbox" name="lang" id="English" value="English">
        </div>
        {% if err %}
                 <div class="col-md-12"><label class="labels" for="bio">bio</label><textarea type="text" cols="30" rows="5" class="form-control" placeholder="enter bio" id="bio" name="bio"> {{values.bio}} </textarea></div>
        {% else %}
        
        <div class="col-md-12"><label class="labels" for="bio">bio</label><textarea type="text" cols="30" rows="5" class="form-control" placeholder="enter bio" id="bio" name="bio"></textarea></div>
        {%  endif %}
                        <div class="form-group">
            <label for="resume">Upload resume:</label>
            <div class="custom-file">
<input id="resume" type="file" class="form-control-file" name="resume" accept=".pdf,.doc,.docx" value="{{values.resume}}" required>
                                <small class="form-text text-muted">Supported file formats: PDF, DOC, DOCX</small>
            </div>
        </div>
                        <div class="form-group">
            <label for="photoInput">Upload Photo:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="photoInput" value="{{values.profile_pic}}" name="photo" accept="image/*" required>
                <label class="custom-file-label" for="photoInput" >Choose file</label>
            </div>
        </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </form>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>
{% endblock %}